@use './modals/export.scss';
body {
    margin: 0;
}
:root {
    font-size: calc(10px + 1vh);
    font-family: Sans, Arial;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
